---
layout: default
---                                
<div class="post-content">
    <div class="text-constraint">
        <a name="top"></a>
       
        <article class="module">
            <!-- <h1>{{ page.title }}</h1> -->
            <h1 style="font-style: italic">{{page.title}}</h1>

            <p class="placedate">{{page.placedate}}</p>
            <h2 class="description">{{page.description}}</h2>
            {% if page.mainimagelink %}
                <h3 class="mainimage"><a style="text-decoration: none" href={{page.mainimagelink}} target="blank"><img src={{page.mainimage}}></a><p class="inline-descr">{{page.imagecredits}}</h3>
            {% else %}
                <h3 class="mainimage"><img src={{page.mainimage}}><p class="inline-descr">{{page.imagecredits}}</h3>
            {% endif %}
            <p class="project-specifics"><b>Scope:</b> {{page.roles}}</p>
            {{ content }}

    		<!-- <p class="backtop"><a href="#top">^ Back to the top</a></p> -->
            <!-- <p class="top"><small><a href="#top">[top]</a></small></p> -->
        </article>
    </div>
</div>